@font-face {
  font-family: 'Work Sans';
  src: url('https://fonts.gstatic.com/s/worksans/v9/nuFvD-vYSZviVYUb_rj3ij__anPXDTnCjmHKM4nYO7KN_qI.woff2') format('woff2');
}

:root {
  --dark-purple: hsl(292, 42%, 14%);
  --light-pink: hsl(275, 100%, 97%);
  --white: hsl(0, 0%, 100%);
  --grayish-purple: hsl(292, 16%, 49%);
  --pink-purple: purple;
  --light-gray: rgb(231, 231, 231);
  --shadow-pink: rgb(201, 178, 206);
}

body {
  font-family: 'Work Sans', sans-serif;
  margin: 0;
  overflow: hidden;
  color: var(--dark-purple);
}

.container {
  position: relative; 
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.background-image {
  width: 100vw;
  height: 500px;
  background-image: url('./images/background-pattern-desktop.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.purple-background {
  width: 100%;
  height: 100%;
  background-color: var(--light-pink);
}

.main-content {
  font-size: 16px;
  font-weight: bold;
  border-radius: 15px;
  box-shadow: 0 20px 25px -10px var(--shadow-pink);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) ;
  width: 500px;
  background-color: var(--white);
  padding: 40px;
}

h1 {
  font-size: 45px;
  padding-left: 20px;
}

.flex {
  display: flex;
  align-items: center;
}

.faq-section {
  border-bottom: 1px solid var(--light-gray);
}

.faq-section:last-child {
  border-bottom: none;
}

.label {
  justify-content: space-between;
  padding-block: 10px;
}

.label:hover {
  cursor: pointer;
  color: var(--pink-purple);
}

.answer {
  font-weight: 100;
  color: var(--grayish-purple);
  padding-bottom: 30px;
  line-height: 30px;
}


  



